*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  --cor-fonte: #ece8e8;
  --cor-bg: #18a7db;
  --cor-bg-form: #1694c2;
}

html {
  height: 100%;
}

body{
  background-color: var(--cor-bg);
  color: var(--cor-fonte);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  padding: 20px 10px;
}

.allgifs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gifs{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  
}

.gifs img{
  z-index: -100;
  height: 100%;
  width: 100%;
  position: absolute;
}

form{
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--cor-bg-form);
  padding: 8px;
  border: white 1px solid;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

form img, .local-conteiner > img, .img-suggestion{
  width: 12px;
}

form input{
  background-color: transparent;
  border: none;
  color: var(--cor-fonte);
}

form input::placeholder { 
  color:var(--cor-fonte);
}

form button{
  background: transparent;
  border: none;
}

form input:focus{
  outline: none;
}

form input:focus::placeholder {
  color: transparent;
}

.dropbox{
  align-items: center;
  justify-content: center;
  position: relative;
  display: inline-block;
}

.dropbox button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#1694c2;
  border: none;
  border: white 1px solid;
  border-radius: 7px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  width: 60px;
  height: 30px;
  cursor: pointer;
  color: white;
}

.dropboxContent {
  visibility: hidden;
  opacity: 0; 
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  border-radius: 7px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.dropboxContent a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
}


.dropboxContent a:hover {
  background-color: rgb(212, 196, 171);
}

.show {
  visibility: visible;
  opacity: 1;
}

#alert {
    display: none;
    color: black;
    background-color: var(--cor-fonte);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
}

.clima-focado{
    display: flex;
    align-items: center;
    gap: 50px;
    width: auto;
    padding: 20px;
    border-radius: 30px;
    background:linear-gradient(#009ad1,#43cdff);
    border: 5px var(--cor-fonte) solid;
    color: var(--cor-fonte);
}

.coluna-esquerda-conteiner{
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;
  height: 230px;
}

.coluna-direita-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.local-conteiner{
    margin: 0 auto;
    text-align: center;
    color: var(--cor-fonte);
}

.local-text{
    font-size: 18px;
}

.dia-focado{
    font-size: 22px;
}

.container-display-temp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.graus-focado{
    font-size: 3rem;
    font-weight: 700;
}

.vento{
    width: 45px;
    transform: rotate(0);
}

.imagem-focado{
  width: 130px;
  height: 130px;
}

.temp-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.temp-min-max-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.temp-min, .temp-max{
  display: flex;
  gap: 2px;
}

.temp-min img, .temp-max img{
  width: 10px;
}

.container-semana{
  display: flex;
  margin-top: 30px;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.dia-semana{
  border: var(--cor-fonte) 3px solid;
  border-radius: 15px;
  padding: 5px;
  width: 110px;
}

.dia-texto{
  font-size: 20px;
  margin-bottom: 5px;
}

.imagem-semana{
    width: 55px;
}

.temp-dia-semana{
  font-size: 1.5rem;
}

.SearchboxComponentHost{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#suggestions, #alert {
  position: absolute;
  width: 100%;
  top: 40px;
  padding: 8px;
  display: none;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow-y: hidden;
}

#suggestions{
  background-color: #222222;
}

.suggestion-item {
  padding: 5px;
  cursor: pointer;
}

.suggestion-item:hover {
  transition: 200ms;
  background-color: #333333;
  border-radius: 5px;
  color: var(--cor-fonte);
}
#sugestions::-webkit-scrollbar{
  width: 15px;
}

#sugestions::-webkit-scrollbar-track{
  border-radius: 15px;
  background-color: black;
  color: black;
}

.lupa{
  cursor: pointer;
}

