*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  --cor-fonte: white;
  --cor-bg: #18a7db;
  --cor-bg-form: #1694c2;
}

body{
  background-color: var(--cor-bg);
  color: var(--cor-fonte);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

form{
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: var(--cor-bg-form);
  padding: 8px;
  border: white 1px solid;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

form img, .local-conteiner > img, .img-suggestion{
  width: 12px;
}

form input{
  background-color: transparent;
  border: none;
  color: var(--cor-fonte);
}

form input::placeholder { 
  color:var(--cor-fonte);
}

form button{
  background: transparent;
  border: none;
}

form input:focus{
  outline: none;
}

form input:focus::placeholder {
  color: transparent;
}

#alert {
    display: none;
    color: black;
    background-color: var(--cor-fonte);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
}

.clima-focado{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    padding: 20px;
    border-radius: 30px;
    background:linear-gradient(#009ad1,#43cdff);
    border: 5px white solid;
    color: white;
}

.coluna-esquerda-conteiner{
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;
  height: 250px;
  gap: 10px;
}

.coluna-direita-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.local-conteiner{
    margin: 0 auto;
    text-align: center;
    color: var(--cor-fonte);
}

.local-text{
    font-size: 18px;
}

.dia-focado{
    font-size: 22px;
}

.container-display-temp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.graus-focado{
    font-size: 3rem;
    font-weight: 700;
}

.vento{
    font-size: 1.5rem;
}

.imagem-focado{
  width: 80px;
}

.temp-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.temp-min-max-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.temp-min, .temp-max{
  display: flex;
  gap: 2px;
}

.temp-min img, .temp-max img{
  width: 10px;
}

.container-semana{
  display: flex;
  margin-top: 30px;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.dia-semana{
  border: var(--cor-fonte) 3px solid;
  border-radius: 15px;
  padding: 5px;
  width: 110px;
}

.dia-texto{
  font-size: 20px;
  margin-bottom: 5px;
}

.imagem-semana{
    width: 55px;
}

.temp-dia-semana{
  font-size: 1.5rem;
}

.SearchboxComponentHost{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#suggestions {
  position: absolute;
  width: 100%;
  top: 40px;
  padding: 8px;
  display: none;
  background-color: #222222;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow-y: hidden;
}

.suggestion-item {
  padding: 5px;
  cursor: pointer;
}

.suggestion-item:hover {
  transition: 200ms;
  background-color: #333333;
  border-radius: 5px;
  color: var(--cor-fonte);
}
#sugestions::-webkit-scrollbar{
  width: 15px;
}

#sugestions::-webkit-scrollbar-track{
  border-radius: 15px;
  background-color: black;
  color: black;
}