*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

header > img{
    width: 20px;
}

body{
    background-color: #18a7db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tempoAtual{
    width: 350px;
    height: 350px;
    border-radius: 30px;
    background:linear-gradient(#009ad1,#43cdff);
    border: 5px white solid;
}

.tempoAtual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.tempoAtual > p{
    color: white;
}

.temp{
    font-size: 2rem;
}

.dia, .ensol{
    font-size: 1.5rem;
}

.diaSemana{
    display: flex;
    color: white;
    margin-top: 2%;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.amanha{
  border: white 3px solid;
  border-radius: 15px;
  padding: 5px;
  width: 110px;

}

.imagem-principal{
    width: 80px;
}

.imagem-semana{
    width: 65px;
}
